@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* ### Primary */

  /* #### Text */

  --Very-dark-desaturated-blue : hsl(238, 29%, 16%);
  --Soft-red : hsl(14, 88%, 65%);

  /* #### Gradient */

  /* Background gradient: */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* ### Neutral */

  /* #### Text */

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* #### Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

 /* faq  */

 .faq {
   text-align: center;
 }

 .accordion {
   width: 90%;
   margin: 1rem auto;
   padding: .5rem
 }

 .accordion-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .accordion-header::after {
   content: url("./images/icon-arrow-down.svg")
 }

 .accordion-body {
   display: none;
 }